#loader {
    bottom: 0;
    height: 30vmin;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vmin;
	transform: scale(0.3, 0.3) rotate(45deg) rotateX(30deg);
	-ms-transform: scale(0.3, 0.3) rotate(45deg) rotateX(30deg); /* IE 9 */
	-webkit-transform: scale(0.3, 0.3) rotate(45deg) rotateX(30deg); /* Safari and Chrome */
	perspective: 1000px;
	transform-style: preserve-3d;
	-o-transform: scale(0.3, 0.3) rotate(45deg) rotateX(30deg); /* Opera */
	-moz-transform: scale(0.3, 0.3) rotate(45deg) rotateX(30deg); /* Firefox */

}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    transform-style: preserve-3d;
}
.logoTxt {
    text-align: right;
    position: relative;
    right: -28vmin;
    top: -2vmin;
    font-size: 4vmin;
	transform: rotate(-45deg);
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 100%;
    left: -110%;
    position: absolute;
    right: 0;
    top: -60%;
    transform: scale(0);
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

#loader .dot:nth-child(7n+1) {
    transform: rotate(0deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 2.4s linear 1.2s normal none infinite running load6;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(15deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 2.4s linear 1s normal none infinite running load5;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(30deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 2.4s linear 0.8s normal none infinite running load4;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 2.4s linear 0.6s normal none infinite running load3;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(60deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 2.4s linear 0.4s normal none infinite running load2;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(75deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 2.4s linear 0.2s normal none infinite running load1;
    background: #FB8B2F none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 2.4s linear 1.2s normal none infinite running load6;
    background: #919191 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(195deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 2.4s linear 1s normal none infinite running load5;
    background: #919191 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+9) {
    transform: rotate(210deg);
}
#loader .dot:nth-child(7n+9)::before {
    animation: 2.4s linear 0.8s normal none infinite running load4;
    background: #919191 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+10) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+10)::before {
    animation: 2.4s linear 0.6s normal none infinite running load3;
    background: #919191 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+11) {
    transform: rotate(240deg);
}
#loader .dot:nth-child(7n+11)::before {
    animation: 2.4s linear 0.4ormal none infinite running load2;
    background: #919191 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+12) {
    transform: rotate(255deg);
}
#loader .dot:nth-child(7n+12)::before {
    animation: 2.4s linear 0.2s normal none infinite running load1;
    background: #919191 none repeat scroll 0 0;
}

#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -7vmin;
    height: 10vmin;
    left: 0;
    position: absolute;
    right: 0;
    width: 31vmin;
}

@keyframes load1 {
100% {
    opacity: 0;
    transform: scale(0.25) translateZ(100px);
}
}
@keyframes load2 {
100% {
    opacity: 0;
    transform: scale(0.30) translateZ(80px);
}
}
@keyframes load3 {
100% {
    opacity: 0;
    transform: scale(0.40) translateZ(60px);
}
}
@keyframes load4 {
100% {
    opacity: 0;
    transform: scale(0.55) translateZ(40px);
}
}
@keyframes load5 {
100% {
    opacity: 0;
    transform: scale(0.75) translateZ(20px);
}
}
@keyframes load6 {
100% {
    opacity: 0;
    transform: scale(1) translateZ(0px);
}
}
